@font-face {
    font-family: 'amazon-ember';
    src: url(/assets/amazon-ember-cufonfonts/Amazon\ Ember\ Cd\ RC.otf);
}

h3 {
    color: #0F1111;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
}
h4 {
    color: #0F1111;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
}

h5 {
    color: #FFFFFF;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 400;
}
h6 {
    color: #FFFFFF;
    font-size: 1.3rem;
    line-height: 4.8rem;
    font-weight: 700;
}
h7 {
    color: #FFFFFF;
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 400;
}
h8 {
    color: #0F1111;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
}
h9 {
    color: #FFFFFF;
    font-size: 1.3rem;
    line-height: 0.8rem;
    font-weight: 400;
}

p {
    color: var(--prim-color);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.8rem;
}


span1 {
    color: var(--link-color);
}
span2 {
    font-weight: 700;
}
span3 {
    font-size: 3.8rem;
    font-weight: 400;
    margin-top: 2rem;
}

span4 {
    color: #DD0000;
}
span5 {
    color: black;
}


