.mobile.grid-container {
    display: grid;
    width: 100%;
    width: 100%;
    /* height: 100vh; */
    grid-template-areas: 
    'navbar1'
    'navbar2'
    'navbar3'
    'product-name'
    'reactive-gallery'
    'color-name-yellow'
    'order-bar'
    'product-details'
    'about-item'
    'recycle'
    'german'
    'non-reactive-gallery'
    'description'
    'product-info'
    'carousel'
    ;
    grid-template-rows: minmax(min-content, max-content);
}

.navbar2 {
    grid-area: navbar2;
    background: purple;
    height: 50px;
    
}
.navbar3 {
    grid-area: navbar3;
    background: #37475A;
    height: 44px;

}
.product-name {
    grid-area: product-name;
    background: yellow;
}
.reactive-gallery {
    grid-area: reactive-gallery;
    background: purple;
}
.color-name-yellow {
    grid-area: color-name-yellow;
    background: yellow;
    border-bottom: #E3E6E6 solid 0.5rem;
    border-top: #E3E6E6 solid 0.5rem;
}
.order-bar {
    grid-area: order-bar;
    background: #999;
    border-bottom: #E3E6E6 solid 0.5rem;
}
.product-details {
    grid-area: product-details;
    background: blue;
    border-bottom: #E3E6E6 solid 0.5rem;
}
.about-item {
    grid-area: about-item;
    background: green;
}
.recycle {
    grid-area: recycle;
    background: #999;
}
.german {
    grid-area: german;
    background: blue;
}
.non-reactive-gallery {
    grid-area: non-reactive-gallery;
    background: purple;
    border-bottom: #E3E6E6 solid 0.5rem;
}
.description {
    grid-area: description;
    background: green;
    border-bottom: #E3E6E6 solid 0.5rem;
}
.product-info {
    grid-area: product-info;
    background: #999;
}
.carousel {
    grid-area: carousel;
    background: blue;
}

/* Navbar1 */

.navbar1 {
    grid-area: navbar1;
    background: #232F3E;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
}

.navbar-left-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #FFFFFF;
  }
  
  .container.hamburger {
      height: 48px;
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      
    }
    
    /* Navbar - Hamburger lines */
    .container.hamburger > div {
        position: relative;
        height: 2px;
        width: 20px;
        background: #f4f4f4;
    }
    .container.hamburger > div:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 7px;
        background: #f4f4f4;
    } 
    .container.hamburger > div:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 90%;
        left: 0;
        top: -7px;
        background: #f4f4f4;
    }
    
    .amazon-logo {
        background: url('../assets/img/sprite-mobile.png') no-repeat -11px -51px;
        width: 78px;
        height: 24px;
        margin-top: 0.5rem;
        margin-right: 0.3rem;
    }
    
    .navbar-right-container {
        display: flex;
        justify-content: left;
        align-items: center;
        color: #FFFFFF;
        margin: 0 2rem;
    }

    .person-logo {
        background: url('../assets/img/sprite-mobile.png') no-repeat -173px -270px;
        width: 18px;
        height: 20px;
        margin-right:1.5rem;
        margin-left: 0.5rem;
    }
    .cart-logo {
        background: url('../assets/img/sprite-mobile.png') no-repeat -11px -241px;
        width: 35px;
        height: 25px;
    }


    