
.section-carousel {
    height: 40rem;
    border-bottom: #E3E6E6 solid 0.5rem;

}

.section-carousel h3{
    margin-top: 1.7rem;
    margin-left: 1.7rem;
    margin-bottom: 0.5rem;

}

.carousel-container {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none; /* Hide the scrollbar for MS Edge */
    scrollbar-width: none; /* Hide the scrollbar for Mozilla Firefox */
    margin: 0 auto 0 auto;
    width: 90vw;
    height: 36rem;
}

.carousel-container::-webkit-scrollbar {
  display: none; /* Hide the scrollbar on Webkit based browsers (Chrome, Safari, etc) */
  -webkit-overflow-scrolling: touch; /* On touch screens the content continues to scroll for a while after finishing the scroll gesture */
}

.carousel-container ul {
  min-width: 200px;
  max-height: 31rem;
  margin: 0.5rem;
  text-align: center;
  /* line-height: 300px; */
  border-radius: 7px;
}    

.li-product-picture {
    width: 20rem;
    height: 20rem;
}

.carousel-container > :first-child > :first-child {
    background: url(../assets/img/pic_li_1.jpg) no-repeat center center/cover;
    margin-bottom: 1rem;
}

.li-reviews {
    position: relative;
    width: 23.5rem;
    height: 3rem;
}

.stars {
    background: url('../assets/img/mobile_2_stars.png') no-repeat -4px -164px;
	width: 160px;
	height: 30px;
    scale: 0.5;
    position: absolute;
    top: 0;
    left: -3.5rem;
}

.li-rev-num {
    width: 160px;
	height: 30px;
    position: absolute;
    top: 1.3rem;
    left: 9rem;
}

.price-box2 h3 {
    position:relative;
    font-weight: 400;
    margin: 0;
    margin-left: 1rem;
} 
.price-box2 h3::before {
    content: '\20AC';
    position: absolute;
    top: -0.2rem;
    left: -1rem;
    scale: 0.7;
}
.carousel-container > :nth-child(2) > :first-child {
    background: url(../assets/img/pic_li_2.jpg) no-repeat center center/cover;
    margin-bottom: 1rem;
}
.carousel-container > :nth-child(3) > :first-child {
    background: url(../assets/img/pic_li_3.jpg) no-repeat center center/cover;
    margin-bottom: 1rem;
}
.carousel-container > :nth-child(4) > :first-child {
    background: url(../assets/img/pic_li_4.jpg) no-repeat center center/cover;
    margin-bottom: 1rem;
}
.carousel-container > :nth-child(5) > :first-child {
    background: url(../assets/img/pic_li_5.jpg) no-repeat center center/cover;
    margin-bottom: 1rem;
}
.carousel-container > :nth-child(6) > :first-child {
    background: url(../assets/img/pic_li_6.jpg) no-repeat center center/cover;
    margin-bottom: 1rem;
}
.carousel-container > :nth-child(7) > :first-child {
    background: url(../assets/img/pic_li_7.jpg) no-repeat center center/cover;
    margin-bottom: 1rem;
}
.carousel-container > :nth-child(8) > :first-child {
    background: url(../assets/img/pic_li_8.jpg) no-repeat center center/cover;
    margin-bottom: 1rem;
}