@media (min-width: 660px) {

    .mobile-section {
        display: none !important;
    }

    .desktop-section {
        display: flex !important;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 150vh;
        
    }

    /* Navbar1 */

    .navbar1 {
        width: 100vw;
        background: #131921;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 2.2rem;
    }
    .navbar1 > div {
        padding: 0 1rem;
    }

    .navbar-left-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #FFFFFF;
    }
    
    
        
    .amazon-logo {
        background: url('../assets/img/sprite-mobile.png') no-repeat -11px -51px;
        width: 78px;
        height: 24px;
        margin-top: 0.5rem;
        margin-right: 0.3rem;
    }

    .location-logo {
        background: url('../assets/img/sprite-mobile.png') no-repeat -78px -341px;
        width: 16px;
        height: 19px;
        margin-right: 0.5rem;
    }

    .navbar1 > :nth-child(2) {
        min-width: 13rem;
    }

    .container.search-bar {
        background: #FFFFFF;
        max-width: 70%;
        min-width: 30rem;
        height: 80%;
        border-radius: 0.8rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        position: relative;
    }
    
    .container.search-bar form {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        font-size: 1.5rem;
    }
    
    /* search input */
    .container.search-bar input {
        width: 100%;
        height: 100%;
        border-radius: 0.8rem;
        border: none;
        margin-left: 1rem;
        
    }
    .container.search-bar input:focus {
        outline: none;
        
    }
    
    .magnifier-glass {
        width: 50px;
        height: 48px;
        background: #EBAF63;
        border-radius: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
    }
    
    .magnifier-glass-logo {
        background: url('../assets/img/sprite-mobile.png') no-repeat -11px -171px;
        width: 15px;
        height: 15px;
        scale: 1.5;
    }
    
    .navbar-right-container {
        display: flex;
        justify-content: left;
        align-items: center;
        color: #FFFFFF;
        margin: 0 2rem;
    }

    .container-flex-row.language {
        height: 2rem;
        width: 6rem;
        justify-content: space-between;
    }

    .flag-logo {
        width: 2.16rem;
        height: 1.62rem;
        background: url(./assets/img/german-flag.png) no-repeat center center/cover;
        margin-right: 0.5rem;

    }

    .navbar1 > :nth-child(5) {
        min-width: 11rem;
    }
    .navbar1 > :nth-child(6) {
        min-width: 7rem;
    }
    .cart-logo {
        background: url('../assets/img/sprite-mobile.png') no-repeat -11px -241px;
        width: 35px;
        height: 25px;
    }

    /* Navbar 2 */
    .navbar2 {
        width: var(--viewport--width--desktop);
        background: #232F3E;
        height: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        padding: 0 1.2rem;
    }

    .container.hamburger {
        height: 25px;
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        } 
        
    /* Navbar - Hamburger lines */
    .container.hamburger > div {
        position: relative;
        height: 2px;
        width: 15px;
        background: #f4f4f4;
    }
    .container.hamburger > div:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 7px;
        background: #f4f4f4;
    } 
    .container.hamburger > div:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: -7px;
        background: #f4f4f4;
    }

    .hamburger-flex {
        justify-content: flex-start;
        align-items: center;
    }

    .navbar2 ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navbar2 li {
        min-width: max-content;
        padding: 0.4rem 1.2rem;
        border: 2px solid rgb(250, 250, 250, 0.001);

        
    }
    .navbar2 li:hover {
        cursor: pointer;
        border: 2px solid #FFFFFF;
    }
    .navbar3 {
        height: 3.5rem;
        width: 100vw;
        border-bottom: rgb(128,128,128, 0.25) 1px solid;
        background: #FAFAFA;
    }
    .navbar3 ul {
        width: var(--viewport--width--desktop);
        flex-direction: row;
        align-items: center;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        
    }
    .navbar3 li {
        min-width: max-content;
        padding: 0 1.2rem;
    }
    .navbar3 li:hover {
        border-bottom: #EBAF63 solid 2px;
        cursor: pointer;
    }
    .navbar3 li:hover > h12 {
        color: #EBAF63;
    }
    .navbar3 li:hover > h12 > span2 {
        color: #EBAF63;
    }

    /* Main section - grid */
    
    .grid-container2 {
        position: relative;
        display: grid;
        width: 100vw;
        grid-template-areas:
        'left left left left left left left middle middle middle middle middle aside aside aside';
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin: 0;
        padding: 1.7rem 10rem;
    }
    
    
    .left {
        position:relative;
        grid-area: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0;
        padding: 0;

    }
    .reactive-gallery {
        position:relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 0 1.7rem;
        width: 100%;
    
    }
    .reactive-gallery > :first-child {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        position: relative;
    }

    .hamburger-telephone {
        height: 39rem;
        width: 100%;
        max-width: 36.4rem;
        background: url(../assets/img/hamburger-telephone.webp) no-repeat center center/cover;
        position: absolute;
        top: 0;
        left: 28vw;
    }

    .share-btn {
        position:absolute;
        height: 2.4rem;
        width: 2.4rem;
        background: url(../assets/img/share-btn.svg) no-repeat center center/cover;
        border: 1px solid #DDDDDD;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 42vw;
        margin-right: 1.7rem;
    }

    .reactive-gallery > :nth-child(2) {
        height: 5rem;
    }

    .non-reactive-gallery {
        grid-area: non-reactive-gallery;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0 1.7rem;
        width: var(--viewport--width--desktop);
        scale: 0.1;
        border:none;
        top: -2rem;
        left: -21vw;

    }
    .non-reactive-gallery > div{
        margin: 3rem;
    }

    .pic-bgr {
        height: 39rem;
        width: 100%;
        background: none;
        display: flex;
        justify-content: center;
    }

    .hamburger-telephone2 {
        height: 39rem;
        width: 100%;
        max-width: 36.4rem;
        background: url(../assets/img/hamburger-telephone.jpg) no-repeat center center/cover;
        border: gray 4px solid;
        border-radius: 10px;
    }
    .pic2 {
        height: 39rem;
        width: 100%;
        max-width: 36.4rem;
        background: url(../assets/img/pic2.jpg) no-repeat center center/cover;
        border: gray 4px solid;

    }
    .pic3 {
        height: 39rem;
        width: 100%;
        max-width: 36.4rem;
        background: url(../assets/img/pic3.jpg) no-repeat center center/cover;
        border: gray 4px solid;
    }

    .grid-container3 {
        position:absolute;
        top:0;
        left: 47vw;
        display: grid;
        grid-template-areas:
        'product-name'
        'price-section'
        'color-name-yellow'
        'product-details'
        'about-item'
        'recycle'
        ;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding: 1.7rem 10rem;
        width: 0;
    }

    .middle {
        grid-area: middle;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        justify-content: flex-start;
        
    }

    .product-name {
        margin-top: 1rem;
        grid-area: product-name;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 1.7rem;
        width: 30rem;
    }

    .price-box {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 0.75rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        width: 30rem;
        
    }

    .price-box h4 {
        position: absolute;
        top:0.17rem;
    } 
    .price-box > :first-child {
        position: absolute;
        top: 0.05rem;
        left: -0.75rem;
    } 
    .prices-for-items{
        width: 30rem;
    }

    .color-name-yellow {
        grid-area: color-name-yellow;
        border-bottom: #E3E6E6 solid 0.5rem;
        border-top: #E3E6E6 solid 0.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 30rem;
        padding: 1.2rem 1.7rem;
    }
    .product-details-header {
        padding: 1.7rem 1.7rem 0;
    }
    .product-details {
        grid-area: product-details;
        border-bottom: rgb(128,128,128, 0.25) 1px solid;
        justify-content: flex-start;
        padding: 1.7rem 1.7rem;
        width: 30rem;

        
    }
    .product-details :first-child{
        margin-right: 2.5vw;
    }

    .product-details ul li{
        margin-bottom: 0.6rem;
    }

    .about-item {
        grid-area: about-item;
        padding: 1.7rem;
        padding-left: 2.5rem;
        margin-bottom: 3rem;
        width: 30rem;

    }
    .about-item ul {
        list-style: disc;
    }
    .about-item li {
        padding: 0.3rem;
    }
    .recycle {
        grid-area: recycle;
        padding: 1rem 1.7rem 1.7rem 1.7rem;
        border-top: rgb(128,128,128, 0.25) 1px solid;
        border-bottom: #E3E6E6 solid 0.5rem;
        width: 30rem;
    }

    .aside {
        grid-area: aside;
        width: 25rem;
    }

    .order-bar {
        position:absolute;
        top:3rem;
        left:69vw;
        grid-area: order-bar;
        border-bottom: #E3E6E6 solid 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1.2rem 1.7rem;
        width: 25rem;
        border: rgb(128,128,128, 0.25) 3px solid;
        border-radius: 1rem;

    }

    
    .this-item-cannot {
        margin-bottom: 1rem;
    }

    .deliverto {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2.5rem;
    }

    .location-logo-black {
        background: url('../assets/img/sprite-mobile.png') no-repeat -78px -341px;
        width: 16px;
        height: 19px;
        margin-right: 0.5rem;
        -webkit-filter: invert(100);
    }

    .only-left-in-stock p {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.3rem;
        color: #007600;
    }

    .qty-btn {
        margin-top: 0.7rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

    }
    .qty-btn button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 9rem;
        height: 3.3rem;
        border-radius: 1rem;
        background: #F0F2F2;
        border: 1px solid #C9CDCD;
        box-shadow: rgb(0, 0, 0, 0.03) 0.2rem 0.2rem,  rgb(0, 0, 0, 0.03) -0.2rem -0.2rem;

    }
    .qty-btn button p {
        color: black;;
    }

    .downarrow {
        position: relative;
        background: url('../assets/img/sprite-mobile.png') no-repeat -108px -173px;
        width: 8px;
        height: 14px;
        scale: 0.8;
        rotate: 90deg;
        margin-left: 1rem;
    }

    .order-bar > :nth-child(8) {
        background: #FFA41C ;
        margin-bottom: 1.5rem;
        justify-content: center;
    }
    .order-bar > :nth-child(7) {
        background: #FFD814;
        justify-content: center;
    }

    .lock-logo {
        width: 1.1rem;
        height: 1.5rem;
        background: url(../assets/img/lock_logo.png) no-repeat center center/cover;
        margin-right: 1.4rem;
        scale:0.99;
    }
    .order-bar > :nth-child(9) > :nth-child(2) {
        margin-top: 0.6rem;
        
    }
    /* targeting the "dispatched from sold by */
    .order-bar > :nth-child(10) {
        width: 25rem;
        justify-content: center;
        text-align: left;
        position: relative;
        margin-top: 1.7rem;
    }

    #targeted {
        width: 25rem;
    }
    

    .order-bar > :nth-child(10) div {
        align-items: flex-start;
    }
    .order-bar > :nth-child(10) > :first-child {
        position: absolute;
        top: 0;
        left: 0;
    }

    /* Targeting "For further informatin... */
    .order-bar > :nth-child(11) {
        align-items: flex-start;
        padding: 1.5rem 0;
        width: 25rem;
        
    }
    .order-bar > :nth-child(11) h4 {
        padding: .3rem 0;
        width: 25rem;
    }
    .order-bar > :nth-child(11) div {
        padding-top: 1.5rem;
        width:25rem;
    }

    .description {
        grid-area: description;
        border-bottom: #E3E6E6 solid 0.5rem;
        padding: 1.3rem 1.7rem;
    }
    
    .additional-information {
        grid-area: additional-information;
        padding: 0.7rem 1.7rem 1.7rem 1.7rem ;
        border: none;
        border-bottom: rgb(128,128,128, 0.25) 1px solid;

    }
    .additional-information h4{
        padding-bottom: 1rem;
    }








}